<div class="col s12 m8">
    <div class="card">
        <div class="card-image">
            <img src="/static/ii.jpg">
        </div>
        <div class="card-content">
            <span class="card-title black-text">Apple II</span>
            Легенда
        </div>
    </div>
</div>
<div class="col s12 m8">
    <div class="card">
        <div class="card-image">
            <img src="/static/mac.jpg">
        </div>
        <div class="card-content">
            <span class="card-title black-text">Macintosh</span>
            Свежие новинки октября 1983-го
        </div>
    </div>
</div>
<div class="col s12 m8">
    <div class="card">
        <div class="card-image">
            <img src="/static/imac.jpg">
        </div>
        <div class="card-content">
            <span class="card-title black-text">iMac</span>
            Оригинальный и прозрачный
        </div>
    </div>
</div>